.texto {
    background-color: lightgray;
    border: 1px solid;
    border-radius: 5px;
    margin: .5rem;
    padding: .5rem;
}
* {
    margin: 0;
    font-size: 16px;
}


h1 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

h5 {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 10px;
}

.card a {
    padding: .2rem .4rem .2rem .4rem;
    font-size: .6rem;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
}

.bgHonolulu {
    background-image: url("../images/honolulu.jpg");
    background-size: 100% 100%;
    width: 100%  \9;;
    height: 450px;
    display: flex;
    
}

.seorador {
    text-align: center;
}

.form {
    align-content: center;
    padding: 10px;

}
.formulario {
    align-items: center;
    padding: 20px;
}